header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: white;
  border-bottom: 0.0001px solid rgb(222, 215, 215);
}
nav a {
  margin: 0 1rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: black;
}

.logo {
  display: inline-flex;
  justify-content: flex-start;
}

button {
  width: 100px;
  height: 40px;
  display: flex;
  padding: 9px 24px;
  text-align: center;
  justify-content: space-around;
  box-shadow: 4px 4px;
  border-left-width: 0.5px;
  border-top-width: 0.5px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background-color: white;
  margin-top: -6px;
  color: black;
}

.name {
  display: flex;
  justify-content: space-between;
  margin-inline-start: 10px;
  font-weight: 600;

  font-family: "Montserrat";
  font-style: normal;
}
